body, html{
    width: 100%;
    height: 100%;
}

/* Header */
header {
    z-index: 0;
}
.header-content p{
    color: white !important;
    font-weight: bold;
}

.header-content-inner {
    z-index: 100;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    height: 100%;
}

#header {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#header video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -100;
}

#header div.afterVideo {
    position: relative;
    z-index: 1;
}


.headerLogo { 
    max-width: 100%; 
}

.portrait-image {
    width: 90%;
}

/* Portfolio Section */
.popup-gallery img {
    width: 100% !important;
}

/* Footer */
#footer {
    background-color: #FFFFFF;
    color: #111;
}

#footer a {
    font-size: 28px;
    color: #111;
}


/* Portfolio */

.portfolio-box img {
    height: 100%;
}

/* This adds padding from top and bottom */
.custom-popup-class .mfp-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* This adds max-width to popup content */
.custom-popup-class .mfp-content {
  width: 100%;
  max-width: 1000px;
}

/* This makes "#popup-with-something" scale down proportionally */
#popup-with-something {
  width: 100%;
  height: 0;
  overflow: hidden;
  /* This is scale ratio */
  padding-top: 56.25%;
}
/* This shifts close button outside of the container */
#popup-with-something .mfp-close {
  top: -44px;
  color: #FFF;
  text-align: right;
  right: 1px;
}
/* This is an element itself */
.some-element {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

/* About2 */
#about2 {
    z-index: -10;
    background-image: url('../img/lenses.jpg');
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;

}

.about2-table img {
    width: 70%;
}




/* Contact */ 
.contact-outer {
    background-image: url(../img/guitar.jpg);
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    z-index: -10;
}

.contact-inner {
    color: white;
    z-index: 10;
}

