body {
    width: 100%;
}

/* Split row table */
.row-table {
    width: 100%;
    table-layout: fixed;
    font-size: 1.2em;
    line-height: 1.6em;
}

.row-table td {
    padding: 20px;
}

.table-none {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.6em;
    display: none;
}

.table-none img {
    width:70%;
}

@media only screen and (max-width: 1024px) {
    .row-table {
        display: none;
    }

    .table-none {
        display: inline;
    }
}


/* Portfolio Section */
.popup-gallery img {
    width: 100% !important;
}

/* Footer */
#footer {
    background-color: #bc1616;
    color: #111;
}

#footer a {
    font-size: 28px;
    color: #111;
}